<mat-card>
    <mat-card-subtitle>Signin</mat-card-subtitle>
    <mat-card-content>
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-xs-12">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary">Signin</button>
    </mat-card-actions>
</mat-card>